<!-- <section class="form-section">
  <div class="form-header">
    <p class="form-text">Пополни го формуларот</p>
    <button class="form-btn" routerLink="/registracija">Формулар</button>
  </div>
</section> -->

<section class="form-section">
  <video class="form-video" #bgVideo autoplay muted loop playsinline preload="auto">
    <source src="assets/form-video.mp4" type="video/mp4" />
  </video>

  <div class="form-overlay"></div>

  <div class="form-header">
    <p class="form-text">Пополни го формуларот</p>
    <button class="form-btn" routerLink="/registracija">Формулар</button>
  </div>
</section>
